<div class="container-fluid mt-3" style="width: 730px;">
    <div class="card" style="border-radius: 10px; border: none;">
        <div class="card-body">
            <div class="list-group list-group-flush">
                <div class="list-group-item" style="border: none;">
                    <h4><a href="#" class="badge badge-light" style="font-weight: 500;">Chuyên mục con</a></h4>

                    <ul
                        style="list-style: none; display: flex; align-items: center; padding: 0; margin: 0; margin-top: 5px;">
                        <i class="fas fa-tags fa-sm fa-fw" style="margin-right: 5px; margin-top: 5px;"></i>

                        <li>
                            <a href="#" class="badge badge-pill badge-light" style="font-weight: 400;">Tag</a>
                        </li>

                        <li>
                            <a href="#" class="badge badge-pill badge-light" style="font-weight: 400;">Tag</a>
                        </li>

                        <li>
                            <a href="#" class="badge badge-pill badge-light" style="font-weight: 400;">Tag</a>
                        </li>
                    </ul>

                    <h3 class="card-title" style="font-weight: bolder; margin: 0; margin-top: 15px;">Tiêu đề Tiêu đề
                        Tiêu đề Tiêu đề Tiêu đề Tiêu đề Tiêu đề Tiêu đề Tiêu đề Tiêu đề Tiêu đề</h3>
                </div>

                <div class="list-group-item d-flex align-items-center justify-content-between">
                    <p style="margin: 0;">Tác giả: Tên nhà báo</p>

                    <small>Ngày đăng</small>
                </div>

                <div class="list-group-item">
                    <div class="d-flex justify-content-center">
                        <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo">
                    </div>

                    <div>
                        <small style="font-weight: lighter;">Mô tả ảnh</small>
                    </div>
                </div>

                <div class="list-group-item" style="border-bottom: solid 2px black;">
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum praesentium
                            culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio earum harum
                            autem dicta delectus dolorum animi.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum
                            praesentium culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio
                            earum harum autem dicta delectus dolorum animi.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum
                            praesentium culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio
                            earum harum autem dicta delectus dolorum animi.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum
                            praesentium culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio
                            earum harum autem dicta delectus dolorum animi.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum
                            praesentium culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio
                            earum harum autem dicta delectus dolorum animi.
                        </p>
                    </div>
                </div>

                <div class="list-group-item">
                    <div class="list-group-item d-flex align-items-center" style="border: none;">
                        <i class="fas fa-comments fa-lg fa-fw" style="color: rgb(103, 103, 232);"></i>

                        <h5 style="font-weight: bolder; margin-left: 10px; margin-bottom: 0;">Bình luận</h5>
                    </div>

                    <form action="" method="" style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                        <textarea id="" name="comments" placeholder="Để lại bình luận của bạn..." style="display: block; margin: 0 auto; width: 620px; height: 100px; resize: none;"></textarea>

                        <button type="submit" style="align-self: flex-end; background-color: red; color: white; border-radius: 5px; border: none; padding: 5px 15px;"><i class="fas fa-paper-plane fa-sm fa-fw" style="margin-right: 5px;"></i>Gửi bình luận</button>
                    </form>
                </div>

                <div class="list-group-item">
                    <ul style="list-style: none; padding: 0; margin: 0;">

                        <li style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;">
                            <div class="d-flex align-items-center justify-content-between">
                                <p style="margin: 0; font-weight: bolder;">Tên người dùng</p>

                                <small style="font-weight: lighter">Ngày bình luận</small>
                            </div>

                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Eligendi similique, velit cum labore accusantium ipsa expedita
                                    molestiae laudantium quo unde alias, distinctio quas obcaecati asperiores
                                    mollitia, beatae et aut laboriosam.</p>
                            </div>
                        </li>

                        <li style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;">
                            <div class="d-flex align-items-center justify-content-between">
                                <p style="margin: 0; font-weight: bolder;">Tên người dùng</p>

                                <small style="font-weight: lighter">Ngày bình luận</small>
                            </div>

                            <div>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                                    elit. Fuga ab laboriosam architecto exercitationem aliquam at quia, laborum
                                    sunt reiciendis ducimus modi consectetur, accusantium deleniti voluptate
                                    suscipit voluptates magnam aut asperiores.</p>
                            </div>
                        </li>

                        <li style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;">
                            <div class="d-flex align-items-center justify-content-between">
                                <p style="margin: 0; font-weight: bolder;">Tên người dùng</p>

                                <small style="font-weight: lighter">Ngày bình luận</small>
                            </div>

                            <div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Quibusdam, maiores! Molestias repellat molestiae repudiandae veritatis
                                    quo beatae eius laborum, sit iste ipsum nam blanditiis laudantium, commodi
                                    facilis error? Tempora, ducimus.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="list-group list-group-flush">
                <div class="list-group-item d-flex align-items-center"
                    style="border-top: solid 2px black; border-bottom: none">
                    <i class="fas fa-newspaper fa-lg fa-fw" style="color: red;"></i>

                    <h5 style="font-weight: bolder; margin-left: 10px; margin-bottom: 0;">Tin cùng chuyên mục</h5>
                </div>

                <div id="carouselIdsamecate" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#" class="list-group-item list-group-item-action d-flex"
                                style="background-color: transparent; text-decoration: none; border: none;">
                                <img src="/others/test.webp" alt="Photo"
                                    style="object-fit: cover; width: 250px; height: 170px">

                                <div class="d-flex w-100 flex-column justify-content-between" style="margin-left: 5px;">
                                    <small>Chuyên mục</small>

                                    <h5 class="mb-1">Tiêu đề Tiêu đề Tiêu đề</h5>

                                    <small>Ngày đăng</small>
                                </div>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="#" class="list-group-item list-group-item-action d-flex"
                                style="background-color: transparent; text-decoration: none; border: none;">
                                <img src="/others/test.webp" alt="Photo"
                                    style="object-fit: cover; width: 250px; height: 170px">

                                <div class="d-flex w-100 flex-column justify-content-between" style="margin-left: 5px;">
                                    <small>Chuyên mục</small>

                                    <h5 class="mb-1">Tiêu đề Tiêu đề Tiêu đề 2</h5>

                                    <small>Ngày đăng</small>
                                </div>
                            </a>
                        </div>

                        <button class="carousel-control-next" type="button" data-target="#carouselIdsamecate" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color: grey; border-radius: 50%; width: 30px; height: 30px;"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>