<div class="container-fluid mt-3" style="width: 1320px">
    <div class="row d-flex justify-content-center">

        <div class="col-8">
            <div class="card" style="border: none;">
                <div class="card-body">
                    <div class="list-group list-group-flush">

                        <div class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Chuyên mục</h5>

                                <small>Ngày đăng</small>
                            </div>
                        </div>

                        <div class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <img src="/others/test.webp" alt="Photo"
                                    style="width: 15%; height: 15%; border-radius: 100%; margin-right: 10px;">

                                <p style="margin: 0;">Tên nhà báo</p>
                            </div>

                            <ul style="list-style: none; display: flex; gap: 10px; margin: 0; padding: 0;">
                                <li>
                                    <a href="#" class="btn btn-primary"
                                        style="color: black; background-color: transparent; border: transparent; outline: none; box-shadow: none; margin-left: 10px;">Tag</a>
                                </li>

                                <li>
                                    <a href="#" class="btn btn-primary"
                                        style="color: black; background-color: transparent; border: transparent; outline: none; box-shadow: none; margin-left: 10px;">Tag</a>
                                </li>
                            </ul>
                        </div>

                        <div class="list-group-item">
                            <h5 class="card-title text-center">Tiêu đề Tiêu đề Tiêu đề Tiêu đề</h5>

                            <div class="d-flex justify-content-center">
                                <img src="/others/test.webp" class="d-block w-75 h-75" alt="Photo">
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum praesentium
                                    culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio earum harum
                                    autem dicta delectus dolorum animi.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum
                                    praesentium culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio
                                    earum harum autem dicta delectus dolorum animi.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum
                                    praesentium culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio
                                    earum harum autem dicta delectus dolorum animi.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum
                                    praesentium culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio
                                    earum harum autem dicta delectus dolorum animi.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo illum rerum
                                    praesentium culpa autem natus temporibus obcaecati accusamus ut, ex, alias ab. Optio
                                    earum harum autem dicta delectus dolorum animi.
                                </p>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <h5 class="card-title">Bình luận</h5>

                            <p>Thêm field bình luận WYSIWYG sau ♥</p>
                        </div>

                        <div class="list-group-item">
                            <ul style="list-style: none; padding: 0; margin: 0;">

                                <li style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;">
                                    <div class="d-flex align-items-center">
                                        <img src="/others/test.webp" alt="Photo"
                                            style="width: 15%; height: 15%; border-radius: 100%; margin-right: 10px;">

                                        <p style="margin: 0; font-weight: bolder;">Tên người dùng</p>
                                    </div>

                                    <div>
                                        <p style="margin-left: 17%;">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Eligendi similique, velit cum labore accusantium ipsa expedita
                                            molestiae laudantium quo unde alias, distinctio quas obcaecati asperiores
                                            mollitia, beatae et aut laboriosam.</p>
                                    </div>
                                </li>

                                <li style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;">
                                    <div class="d-flex align-items-center">
                                        <img src="/others/test.webp" alt="Photo"
                                            style="width: 15%; height: 15%; border-radius: 100%; margin-right: 10px;">

                                        <p style="margin: 0; font-weight: bolder;">Tên người dùng</p>
                                    </div>

                                    <div>
                                        <p style="margin-left: 17%;">Lorem, ipsum dolor sit amet consectetur adipisicing
                                            elit. Fuga ab laboriosam architecto exercitationem aliquam at quia, laborum
                                            sunt reiciendis ducimus modi consectetur, accusantium deleniti voluptate
                                            suscipit voluptates magnam aut asperiores.</p>
                                    </div>
                                </li>

                                <li style="border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px;">
                                    <div class="d-flex align-items-center">
                                        <img src="/others/test.webp" alt="Photo"
                                            style="width: 15%; height: 15%; border-radius: 100%; margin-right: 10px;">

                                        <p style="margin: 0; font-weight: bolder;">Tên người dùng</p>
                                    </div>

                                    <div>
                                        <p style="margin-left: 17%;">Lorem ipsum dolor sit amet consectetur adipisicing
                                            elit. Quibusdam, maiores! Molestias repellat molestiae repudiandae veritatis
                                            quo beatae eius laborum, sit iste ipsum nam blanditiis laudantium, commodi
                                            facilis error? Tempora, ducimus.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title text-center">Cùng chuyên mục</h5>

                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">
                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo"
                                style="object-fit: cover;">

                            <div class="d-flex w-100 justify-content-between">
                                <small>Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo"
                                style="object-fit: cover;">

                            <div class="d-flex w-100 justify-content-between">
                                <small>Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo"
                                style="object-fit: cover;">

                            <div class="d-flex w-100 justify-content-between">
                                <small>Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo"
                                style="object-fit: cover;">

                            <div class="d-flex w-100 justify-content-between">
                                <small>Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo"
                                style="object-fit: cover;">

                            <div class="d-flex w-100 justify-content-between">
                                <small>Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>