<div class="container-fluid mt-3" style="width: 1320px">
    <div class="row d-flex justify-content-center">

        <div class="col-8">
            <div class="card">
                <div class="card-body">

                    <h2 class="card-title text-center" style="font-weight: bolder;">Bài viết nổi bật nhất trong tuần
                    </h2>

                    <div id="carouselId" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <a href="#" style="display: block; text-decoration: none; color: inherit;">
                                    <div class="row no-gutters h-100">

                                        <div class="col-md-6">
                                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo">
                                        </div>

                                        <div class="col-md-6 d-flex flex-column justify-content-between p-3">
                                            <div>
                                                <p>Chuyên mục</p>
                                            </div>

                                            <div>
                                                <h3>Trên trời có triệu vì sao</h3>
                                            </div>

                                            <div>
                                                <p>Ngày đăng</p>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="#" style="display: block; text-decoration: none; color: inherit;">
                                    <div class="row no-gutters h-100">

                                        <div class="col-md-6">
                                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo">
                                        </div>

                                        <div class="col-md-6 d-flex flex-column justify-content-between p-3">
                                            <div>
                                                <p>Chuyên mục</p>
                                            </div>

                                            <div>
                                                <h3>Sao ta lớn rồi mà vẫn chưa khôn</h3>
                                            </div>

                                            <div>
                                                <p>Ngày đăng</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>

                        <button class="carousel-control-next" type="button" data-target="#carouselId" data-slide="next"
                            style="right: 0; position: absolute; top: 50%; transform: translateY(-50%); z-index: 5; background-color: transparent; border: none;">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color: black; border-radius: 50%; width: 30px; height: 30px;"></span>
                            <span class="sr-only">Next</span>
                        </button>

                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <h2 class="card-title text-center" style="font-weight: bolder;">Bài viết mới nhất
                    </h2>

                    <div id="carouselId" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <a href="#" style="display: block; text-decoration: none; color: inherit;">
                                    <div class="row no-gutters h-100">

                                        <div class="col-md-6">
                                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo">
                                        </div>

                                        <div class="col-md-6 d-flex flex-column justify-content-between p-3">
                                            <div>
                                                <p>Chuyên mục</p>
                                            </div>

                                            <div>
                                                <h3>Trên trời có triệu vì sao</h3>
                                            </div>

                                            <div>
                                                <p>Ngày đăng</p>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="#" style="display: block; text-decoration: none; color: inherit;">
                                    <div class="row no-gutters h-100">

                                        <div class="col-md-6">
                                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo">
                                        </div>

                                        <div class="col-md-6 d-flex flex-column justify-content-between p-3">
                                            <div>
                                                <p>Chuyên mục</p>
                                            </div>

                                            <div>
                                                <h3>Sao ta lớn rồi mà vẫn chưa khôn</h3>
                                            </div>

                                            <div>
                                                <p>Ngày đăng</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>

                        <button class="carousel-control-next" type="button" data-target="#carouselId" data-slide="next"
                            style="right: 0; position: absolute; top: 50%; transform: translateY(-50%); z-index: 5; background-color: transparent; border: none;">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color: black; border-radius: 50%; width: 30px; height: 30px;"></span>
                            <span class="sr-only">Next</span>
                        </button>

                    </div>
                    
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <h2 class="card-title text-center" style="font-weight: bolder;">Bài viết hot
                    </h2>

                    <div id="carouselId" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
                        <div class="carousel-inner">

                            <div class="carousel-item active">
                                <a href="#" style="display: block; text-decoration: none; color: inherit;">
                                    <div class="row no-gutters h-100">

                                        <div class="col-md-6">
                                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo">
                                        </div>

                                        <div class="col-md-6 d-flex flex-column justify-content-between p-3">
                                            <div>
                                                <p>Chuyên mục</p>
                                            </div>

                                            <div>
                                                <h3>Trên trời có triệu vì sao</h3>
                                            </div>

                                            <div>
                                                <p>Ngày đăng</p>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>

                            <div class="carousel-item">
                                <a href="#" style="display: block; text-decoration: none; color: inherit;">
                                    <div class="row no-gutters h-100">

                                        <div class="col-md-6">
                                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo">
                                        </div>

                                        <div class="col-md-6 d-flex flex-column justify-content-between p-3">
                                            <div>
                                                <p>Chuyên mục</p>
                                            </div>

                                            <div>
                                                <h3>Sao ta lớn rồi mà vẫn chưa khôn</h3>
                                            </div>

                                            <div>
                                                <p>Ngày đăng</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>


                        </div>

                        <button class="carousel-control-next" type="button" data-target="#carouselId" data-slide="next"
                            style="right: 0; position: absolute; top: 50%; transform: translateY(-50%); z-index: 5; background-color: transparent; border: none;">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                style="background-color: black; border-radius: 50%; width: 30px; height: 30px;"></span>
                            <span class="sr-only">Next</span>
                        </button>

                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">

                    <h5 class="card-title text-center">Chuyên mục hot</h5>

                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <small style="font-weight: bolder; color: red">Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo" style="object-fit: cover;">

                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>                            
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <small style="font-weight: bolder; color: red">Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo" style="object-fit: cover;">

                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>                            
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <small style="font-weight: bolder; color: red">Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo" style="object-fit: cover;">

                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>                            
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <small style="font-weight: bolder; color: red">Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo" style="object-fit: cover;">

                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>                            
                        </a>

                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <small style="font-weight: bolder; color: red">Chuyên mục</small>
                                <small>Ngày đăng</small>
                            </div>

                            <img src="/others/test.webp" class="d-block w-100 h-100" alt="Photo" style="object-fit: cover;">

                            <h5 class="mb-1 text-center">Tiêu đề Tiêu đề Tiêu đề</h5>                            
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>