{{!-- forgot-password/otp-verify --}}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center">
                <div class="card-header h5 text-white" style="background-color: #dc3545;">
                    Xác thực OTP
                </div>
                <div class="card-body px-5">
                    <p class="card-text py-2">Nhập mã otp được gửi tới email của bạn.</p>
                    <form id="otpVerifyForm" action="/forgot-password/otp-verify" method="POST">
                        <div class="form-outline">
                            <input type="text" id="otpInput" name="otp" class="form-control my-3"
                                placeholder="Nhập mã OTP gồm 6 số" maxlength="6" pattern="\d{6}"
                                title="Mã OTP phải gồm 6 số" required />
                        </div>
                        <button type="submit" id="verifyOtpBtn" class="btn btn-primary w-100"
                            style="background-color: #dc3545; border: none">
                            Xác thực OTP
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("otpVerifyForm").addEventListener("submit", function (event) {
    event.preventDefault();

    const otp = document.getElementById("otpInput").value;

    fetch("/forgot-password/otp-verify", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({ otp: otp }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            window.location.href = data.redirectUrl; 
        } else {
            alert(data.message); 
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });
});
</script>