{{#section 'css'}}


    <link rel="stylesheet"
          href="/static/css/role-register.css">
{{/section}}


<div class="bg-white " style="border-radius: 10px">
    <div class="p-4 d-flex align-items-center" style="border-bottom: 1px solid #EEEEEE">
        <h5 style="font-weight: bold; " class="mb-0 ">Đăng ký vai trò bạn muốn để cùng chúng tôi xây dựng những bài báo
            chất lượng hơn </h5>
        <img src="/others/partners.png " class="ml-3" style="width: 40px;height: 40px"/>
    </div>
    <div style="width: 800px; margin: auto" class="user-information mt-3 pb-5 ">
        <ul class="nav nav-pills mb-3 role-register row" id="pills-tab" role="tablist">
            <li class="nav-item col-6  px-0" role="presentation">
                <button class="nav-link active w-100" id="pills-home-tab" data-toggle="pill" data-target="#pills-home"
                        type="button" role="tab" aria-controls="pills-home" aria-selected="true" >
                    Đăng ký làm phóng viên
                </button>
            </li>
            <li class="nav-item col-6 px-0" role="presentation">
                <button class="nav-link  w-100" id="pills-profile-tab" data-toggle="pill"
                        data-target="#pills-profile"
                        type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                    Đăng ký làm biên
                    tập viên
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                ...
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">BTV</div>
        </div>
    </div>
</div>