<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuổi già</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {{{_sections.css}}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/admin/layout-admin.css">
</head>
<body style="background-color: #F8F9FA; width: 1320px; " class="mx-auto">
<div class="red-bar ">
    <div style="" class="dash-board shadow">
        <div class="border-bottom p-4">
            <div class="d-flex align-items-center ">
                <img src="/others/newspaper (2).png" width="32px" height="32px">
                <div class="ml-2 font-weight-bolder" style="color: #344767">Bố Già</div>
            </div>
        </div>
        <div class="mt-3 px-2 ">
            <a href="/admin/">
                <div class="dash-board__section {{#if dashboard}}active{{/if}} d-flex align-items-center">
                    <img src="/others/performance.png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Dashboard</div>
                </div>
            </a>
        </div>
        <div class="mt-2 px-2">
            <a href="/admin/articles">
                <div class="dash-board__section {{#if articles}}active{{/if}}  d-flex align-items-center"
                     href="/admin/articles">
                    <img src="/others/news-report.png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Quản lý bài viết</div>
                </div>
            </a>
        </div>
        <div class="mt-2 px-2">
            <a href="/admin/categories">
                <div class="dash-board__section {{#if categories}}active{{/if}} d-flex align-items-center">
                    <img src="/others/list.png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Chuyên mục</div>
                </div>
            </a>
        </div>
        <div class="mt-2 px-2">
            <a href="/admin/tags">
                <div class="dash-board__section {{#if tags}}active{{/if}} d-flex align-items-center">
                    <img src="/others/shopping.png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Nhãn</div>
                </div>
            </a>
        </div>
        <div class="mt-2 px-2">
            <a href="/admin/users">
                <div class="dash-board__section {{#if users}}active{{/if}} d-flex align-items-center">
                    <img src="/others/user (2).png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Quản lý người dùng</div>
                </div>
            </a>
        </div>

        <div class="mt-2 px-2">
            <a href="/admin/vip-users">
                <div class="dash-board__section {{#if vipUsers}}active{{/if}} d-flex align-items-center">
                    <img src="/others/medal.png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Người dùng VIP</div>
                </div>
            </a>
        </div>

        <div class="mt-2 px-2">
            <a href="/admin/role-registers">
                <div class="dash-board__section {{#if role}}active{{/if}} d-flex align-items-center">
                    <img src="/others/document.png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Danh sách ứng tuyển</div>
                </div>
            </a>
        </div>
        <div class="border-bottom pb-4"></div>
        <div class="mt-2 px-2">
            <a href="/">
                <div class="dash-board__section  d-flex align-items-center">
                    <img src="/others/home.png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Trang chủ</div>
                </div>
            </a>
        </div>
        <div class="mt-2 px-2">
            <a href="/admin/role-registers">
                <div class="dash-board__section  d-flex align-items-center">
                    <img src="/others/log-out.png" class="mr-2" width="25px" height="25px">
                    <div class="w-100 ">Isekai</div>
                </div>
            </a>
        </div>

    </div>
    <div class="admin-content ">
        <div class="px-3 d-flex justify-content-between">
            <div>
                <div class=" d-flex align-items-center" style=" color: #F8F8F8; font-family: Arial">
                    <img src="/others/house-black-silhouette-without-door.png" width="16px" height="16px">
                    <span class="ml-3" style="text-align: center">/ Dashboard</span>
                </div>
                <div class="font-weight-bold " style="color: #F8F8F8">Dashboard</div>
            </div>
            <div class="d-flex align-items-center">
                <form class="form-inline  my-2 my-lg-0 ml-auto d-flex align-items-center" id="searchForm"
                >
                    <div class="input-container"
                         style="position: relative; display: inline-block; outline: none; box-shadow: none;">
                        <button class="fa fa-search border-0  bg-transparent mr-2 pl-0" aria-hidden="true"
                                style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: #888;"></button>

                        <input class="form-control mr-sm-2" type="search" placeholder="Nhập nội dung cần tìm"
                               id="searchInput" aria-label="Search"
                               style="padding-left: 30px; width: 250px; margin-right: 15px; outline: none; box-shadow: none;">
                    </div>
                </form>
                <img class="ml-2" src="/others/settings.png" width="16px" height="16px">
                <img class="ml-3" src="/others/bell.png" width="16px" height="16px">
            </div>
        </div>
        <div class="mt-4" >
            {{{body}}}
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
{{{_sections.js}}}
</body>

</html>