<div class="container mt-2 p-4"
    style="background-color: #ffffff; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
    <h2 class="text-center text-danger mt-3"><b>Xác nhận xóa người dùng</b></h2>
    <div class="text-center">
        <i class="fas fa-exclamation-triangle text-warning" style="font-size: 10rem;"></i>
    </div>  
    <hr class="mt-0">

    <p class="text-center">
        <h5 class="text-center">Bạn có chắc chắn muốn xóa người dùng này không?</h5><br>
        <h5 class="text-center text-danger" style="color: #dc3545"><b>Cảnh báo: Hành động này không thể hoàn tác.</b></h5>
    </p>

    <div class="d-flex justify-content-center mt-4">
        <a href="/admin/users" class="btn btn-secondary mx-2">Hủy bỏ</a>
        <form action="/admin/users/delete" method="POST">
            <input type="hidden" name="id" value="{{this.id}}">
            <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
        </form>
    </div>
</div>

