<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-header h5 text-white"
                    style="background-color: #dc3545; border-top-left-radius: .25rem; border-top-right-radius: .25rem;">
                    Thay đổi mật khẩu
                </div>
                <div class="card-body px-5 py-4">
                    <p class="card-text text-muted text-center">Nhập email mà bạn dùng để đăng nhập để nhận lại thông tin đặt lại mật khẩu. Vui lòng đợi một chút sau khi nhấn nút yêu cầu bên dưới. Xin cảm ơn bạn vì đã kiên nhẫn.</p>
                    <form id="resetPasswordForm" action="/forgot-password" method="POST">
                        <div class="form-outline">
                            <input type="email" id="typeEmail" name="email" class="form-control my-3"
                                placeholder="Nhập email" />
                        </div>
                        <button type="submit" id="resetPasswordBtn" class="btn btn-primary w-100"
                            style="background-color: #dc3545; border: none">
                            <b>Đặt lại mật khẩu</b>
                        </button>
                    </form>
                    <div class="text-left mt-3">
                        <a href="/login-register" class="text-decoration-none" style="color: #007BFF;">
                            <i class="bi bi-arrow-left"></i> Đăng nhập
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("resetPasswordForm").addEventListener("submit", async function (event) {
        event.preventDefault();

        function isValidEmail(email) {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        const email = document.getElementById("typeEmail").value;

        if (!email) {
            Swal.fire({
                icon: "warning",
                title: "Vui lòng điền đầy đủ email.",
                confirmButtonColor: "#ffc107",
            });
            return;
        }

        if (!isValidEmail(email)) {
            Swal.fire({
                icon: "warning",
                title: "Email không hợp lệ.",
                confirmButtonColor: "#ffc107",
            });
            return;
        }

        try {
            const response = await fetch("/forgot-password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ email: email }),
            });

            if (!response.ok) {
                throw new Error(`Server trả về lỗi: ${response.statusText}`);
            }

            await Swal.fire({
                icon: "success",
                title: "Chúng tôi đã gửi mã OTP tới email của bạn. Vui lòng xác thực để tiếp tục đặt lại mật khẩu.",
                confirmButtonText: "Đóng",
                confirmButtonColor: "#dc3545",
            });

            window.location.href = '/forgot-password/otp-verify';
        } catch (error) {
            Swal.fire({
                icon: "error",
                title: "Có lỗi xảy ra!",
                text: error.message,
                confirmButtonColor: "#dc3545",
            });
        }
    });
</script>
