{{#section 'js'}}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{{/section}}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: #dc3545;">
          <ul class="nav nav-tabs card-header-tabs" id="formTabs" role="tablist">
            <li class="nav-item flex-grow-1 text-center">
              <a class="nav-link active font-weight-bold" id="login-tab" data-toggle="tab" href="#login" role="tab"
                aria-controls="login" aria-selected="true">Đăng Nhập</a>
            </li>
            <li class="nav-item flex-grow-1 text-center">
              <a class="nav-link font-weight-bold" id="register-tab" data-toggle="tab" href="#register" role="tab"
                aria-controls="register" aria-selected="false">Đăng Ký</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="formTabsContent">
            <!-- Login Form -->
            <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
              <form id="loginForm" method="POST" action="/login-register">
                <input type="hidden" name="formType" value="login">
                <div class="form-group">
                  <input type="email" class="form-control" id="loginEmail" name="email" placeholder="Nhập email">
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" id="loginPassword" name="password"
                      placeholder="Nhập mật khẩu">
                  </div>
                </div>
                <div class="text-center mt-3">
                  <a href="/forgot-password" class="text-decoration-none float-right" style="padding-bottom: 10px;">Quên
                    mật khẩu?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-block"><b>Đăng nhập</b></button>
              </form>
              <div class="text-center mt-4">
                <p class="text-muted text-center" style="font-size: 0.9rem; margin-top: 10px;">
                  Hoặc đăng nhập với tài khoản mạng xã hội
                </p>
                <div class="d-flex justify-content-center">
                  <a href="/auth/facebook" class="btn btn-circle btn-primary mr-3"
                    style="background-color: #3b5998; border: none; width: 40px; height: 40px;">
                    <i class="fab fa-facebook-f" style="color: white;"></i>
                  </a>
                  <a href="/auth/google" class="btn btn-circle btn-danger"
                    style="border: none; width: 40px; height: 40px;">
                    <i class="fab fa-google" style="color: white;"></i>
                  </a>
                </div>
              </div>
            </div>

            <!-- Register Form -->
            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
              <form id="registerForm" method="POST" action="/login-register">
                <input type="hidden" name="formType" value="register">
                <div class="form-group">
                  <input type="email" class="form-control" id="registerEmail" name="email" placeholder="Nhập email">
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" id="registerPassword" name="password"
                      placeholder="Nhập mật khẩu">
                  </div>
                </div>
                <div class="form-group">
                  <div class="g-recaptcha" data-sitekey="6LfPl6MqAAAAAOVE2Ll2IR4nR74MRCKf4asM7Nq5"
                    data-callback="onRecaptchaSuccess"></div>
                </div>
                <button type="submit" id="registerSubmit" class="btn btn-success btn-block"><b>Đăng ký</b></button>
                <div class="text-center mt-4">
                  <p class="text-muted text-center" style="font-size: 0.9rem; margin-top: 10px;">Hoặc đăng nhập với tài
                    khoản mạng xã hội <br> Khi nhấn đăng nhập bạn đã đồng ý các <a href="#" id="termsLink">quy
                      định</a> của báo</p>
                  <div class="d-flex justify-content-center">
                    <a href="/auth/facebook" class="btn btn-circle btn-primary mr-3"
                      style="background-color: #3b5998; border: none; width: 40px; height: 40px;">
                      <i class="fab fa-facebook-f" style="color: white;"></i>
                    </a>
                    <a href="/auth/google" class="btn btn-circle btn-danger"
                      style="border: none; width: 40px; height: 40px;">
                      <i class="fab fa-google" style="color: white;"></i>
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("termsLink").addEventListener("click", async (event) => {
    event.preventDefault();

    const { value: accept } = await Swal.fire({
      title: `<h3 style="font-size: 24px; color: #dc3545; text-align: left;">Điều Khoản Sử Dụng</h3>`,
      html: `
      <h3 style="font-size: 20px; color: #dc3545; text-align: left;">1. Giới thiệu</h3>
        <p style="font-size: 16px; line-height: 1.6; text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          sit amet lectus vitae urna vehicula ultricies eget id purus. Cras faucibus sapien eget leo pharetra vehicula.
          Nulla facilisi. Suspendisse potenti.</p>

        <hr style="border: 1px dashed #ccc; margin: 20px 0;">

        <h3 style="font-size: 20px; color: #dc3545; text-align: left;">2. Quyền và Nghĩa Vụ Của Người Dùng</h3>
        <p style="font-size: 16px; line-height: 1.6; text-align: left;">Phasellus eget dui vel risus tempus suscipit. Sed cursus, metus
          non varius feugiat, dui ligula fermentum nisl, nec convallis urna lacus ut nisl. Curabitur accumsan, odio id
          ultrices volutpat, sapien odio faucibus nibh, id scelerisque nisi quam vel odio.</p>

        <hr style="border: 1px dashed #ccc; margin: 20px 0;">

        <h3 style="font-size: 20px; color: #dc3545; text-align: left;">3. Quyền Sở Hữu và Bản Quyền</h3>
        <p style="font-size: 16px; line-height: 1.6; text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          sit amet lectus vitae urna vehicula ultricies eget id purus. Cras faucibus sapien eget leo pharetra vehicula.
          Nulla facilisi. Suspendisse potenti.</p>

        <hr style="border: 1px dashed #ccc; margin: 20px 0;">

        <h3 style="font-size: 20px; color: #dc3545; text-align: left;">4. Trách Nhiệm Của Người Dùng</h3>
        <p style="font-size: 16px; line-height: 1.6; text-align: left;">Phasellus eget dui vel risus tempus suscipit. Sed cursus, metus
          non varius feugiat, dui ligula fermentum nisl, nec convallis urna lacus ut nisl. Curabitur accumsan, odio id
          ultrices volutpat, sapien odio faucibus nibh, id scelerisque nisi quam vel odio.</p>

        <hr style="border: 1px dashed #ccc; margin: 20px 0;">

        <h3 style="font-size: 20px; color: #dc3545; text-align: left;">5. Chính Sách Bảo Mật</h3>
        <p style="font-size: 16px; line-height: 1.6; text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          sit amet lectus vitae urna vehicula ultricies eget id purus. Cras faucibus sapien eget leo pharetra vehicula.
          Nulla facilisi. Suspendisse potenti.</p>

        <hr style="border: 1px dashed #ccc; margin: 20px 0;">

        <h3 style="font-size: 20px; color: #dc3545; text-align: left;">6. Điều Khoản Chấm Dứt Sử Dụng</h3>
        <p style="font-size: 16px; line-height: 1.6; text-align: left;">Phasellus eget dui vel risus tempus suscipit. Sed cursus, metus
          non varius feugiat, dui ligula fermentum nisl, nec convallis urna lacus ut nisl. Curabitur accumsan, odio id
          ultrices volutpat, sapien odio faucibus nibh, id scelerisque nisi quam vel odio.</p>

        <hr style="border: 1px dashed #ccc; margin: 20px 0;">

        <h3 style="font-size: 20px; color: #dc3545; text-align: left;">7. Thay Đổi Điều Khoản</h3>
        <p style="font-size: 16px; line-height: 1.6; text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
          sit amet lectus vitae urna vehicula ultricies eget id purus. Cras faucibus sapien eget leo pharetra vehicula.
          Nulla facilisi. Suspendisse potenti.</p>

        <hr style="border: 1px dashed #ccc; margin: 20px 0;">

        <h3 style="font-size: 20px; color: #dc3545; text-align: left;">8. Liên Hệ</h3>
        <p style="font-size: 16px; line-height: 1.6; text-align: left;">Phasellus eget dui vel risus tempus suscipit. Sed cursus, metus
          non varius feugiat, dui ligula fermentum nisl, nec convallis urna lacus ut nisl. Curabitur accumsan, odio id
          ultrices volutpat, sapien odio faucibus nibh, id scelerisque nisi quam vel odio.</p>

        <hr style="border: 1px dashed #ccc; margin: 20px 0;">

        <!-- Checkbox -->
        <div class="form-check" style="text-align: left;">
          <input type="checkbox" class="form-check-input" id="agreeCheckbox">
          <label class="form-check-label" for="agreeCheckbox">Tôi đồng ý với quy định của tòa báo</label>
        </div>
    `,
      confirmButtonText: 'Đóng',
      confirmButtonColor: "#dc3545",
      showCancelButton: false,
      preConfirm: () => {
        const agreeCheckbox = document.getElementById("agreeCheckbox");
        if (!agreeCheckbox.checked) {
          return Swal.showValidationMessage("Bạn cần đồng ý với các điều khoản!");
        }
      },
      width: 600,
      padding: "20px",
      background: "#fff",
      customClass: {
        popup: "custom-swal-modal",
      },
    });

    if (accept) {
      Swal.fire("Cảm ơn bạn đã đồng ý với các điều khoản của tòa báo!", "", "success");
    }
  });

  document.getElementById("loginForm").addEventListener("submit", function (event) {
    event.preventDefault();

    function isValidEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }

    const email = document.getElementById("loginEmail").value.trim();
    const password = document.getElementById("loginPassword").value;

    if (!email || !password) {
      Swal.fire({
        icon: "warning",
        title: "Vui lòng điền đầy đủ email và mật khẩu.",
        confirmButtonColor: "#ffc107",
      });
      return;
    }

    if (!isValidEmail(email)) {
      Swal.fire({
        icon: "warning",
        title: "Email không hợp lệ.",
        confirmButtonColor: "#ffc107",
      });
      return;
    }

    fetch("/login-register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        formType: "login",
        email: email,
        password: password,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.error) {
          Swal.fire({
            icon: "error",
            title: data.error,
            confirmButtonColor: "#dc3545",
          });
        } else {
          Swal.fire({
            icon: "success",
            title: "Đăng nhập thành công",
            confirmButtonColor: "#28a745",
          }).then(() => {
            window.location.href = "/";
          });
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        Swal.fire({
          icon: "error",
          title: "Đã có lỗi xảy ra. Vui lòng thử lại.",
          confirmButtonColor: "#dc3545",
        });
      });
  });

  let recaptchaResponse = "";

  function onRecaptchaSuccess(token) {
    recaptchaResponse = token;
  }

  document.getElementById("registerForm").addEventListener("submit", function (event) {
    event.preventDefault();

    function isValidEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return emailRegex.test(email);
    }

    const email = document.getElementById("registerEmail").value;
    const password = document.getElementById("registerPassword").value;

    if (!email || !password) {
      Swal.fire({
        icon: "warning",
        title: "Thiếu thông tin",
        text: "Vui lòng điền đầy đủ email và mật khẩu.",
        confirmButtonColor: "#ffc107",
      });
      return;
    }

    if (!isValidEmail(email)) {
      Swal.fire({
        icon: "warning",
        title: "Email không hợp lệ.",
        confirmButtonColor: "#ffc107",
      });
      return;
    }

    if (!recaptchaResponse) {
      Swal.fire({
        icon: "warning",
        title: "Vui lòng xác minh reCAPTCHA.",
        confirmButtonColor: "#ffc107",
      });
      return;
    }

    fetch("/login-register", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        formType: "register",
        email: email,
        password: password,
        recaptchaResponse: recaptchaResponse,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.error) {
          Swal.fire({
            icon: "error",
            title: data.error,
            confirmButtonColor: "#dc3545",
          });
        } else {
          Swal.fire({
            icon: "success",
            title: data.message,
            confirmButtonColor: "#28a745",
          }).then(() => {
            window.location.href = "/login-register";
          });
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        Swal.fire({
          icon: "error",
          title: "Đã có lỗi xảy ra. Vui lòng thử lại.",
          confirmButtonColor: "#dc3545",
        });
      });
  });
</script>