.dropdown-cluster {
    position: relative;
}

.dropdown-cluster .drop-link {
    color: #505763;
    font-weight: 400;
    font-size: medium;
}

.dropdown-cluster .drop-link:hover {
    text-decoration: none;
}


.dropdown-cluster .drop-menu {
    position: absolute; 
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%);
    overflow: hidden;
    visibility: hidden;

    max-width: 0px;
    white-space: nowrap;
    z-index: 10000; 
    transition: max-width 1s ease;

    border-radius: 5px;
    border: 2px solid #F90606;
    border-top: 2px dashed #F90606;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.dropdown-cluster:hover .drop-menu {
    visibility: visible;
    max-width: 1000px;
}

.dropdown-cluster .toggle {
    transition: all 0.3s ease;
}

.dropdown-cluster:hover .toggle {
    color: red;
}

.dropdown-cluster .drop-menu-item {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown-cluster .drop-menu-item:hover {
    color: darkred;
}