<div class="bg-white " style="border-radius: 10px">
    <div class="d-flex justify-content-center">
        <img src="/others/empty-folder.png"/>
    </div>
    <h3 class="text-center">Tạm thời chưa có gì, rảnh thì làm </h3>
</div>