.category-section {
    margin-top: 10px;
    padding: 0.5rem;
    border-radius: 10px;
}

.category-section__category-name {
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 23px;
}

.category-section__child-category {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-section__btn-edit {
    align-items: center;
    justify-content: end;
    display: flex;
}
.category-section__child-category a {
    padding: 5px 12px;
    border-radius: 20px;
    border: 2px solid #284A8E;
    background-color: #A5A5A5;
    color: #333333;
    text-decoration: none;
}
.scrollable-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 600px;
    padding: 20px;

}